<section class="hero is-primary is-fullheight">

    <!-- head -->
    <div class="hero-head">
        <div class="container">
            <div class="nav">
                <div class="nav-left">
                    <span class="nav-item is-brand">
                        SKYWAY
                    </span>
                </div>
                <div class="nav-right nav-menu">
                    <span class="nav-item">
                        <p>your peerID: {{peerId}}</p>
                    </span>
                    <span class="nav-item icon is-medium">
                        <i class="fa fa-sign-out" ng-click="logout()"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- streaming -->
    <div>
        <div class="hero-body">
            <div class="container">

                <p class="control has-addons">
                    <input type="text" class="input" placeholder="peer ID" ng-model="destPeerId">
                    <button class="button is-danger" ng-click="connect()" ng-disabled="!destPeerId || disabledConnectBtn">CONNECT</button>
                </p>

                <div class="tile is-ancestor">
                    <div class="tile is-vertical">
                        <div class="tile">
                            <!-- video caller(local) -->
                            <div class="tile is-parent">
                                <div class="tile is-child notification is-info has-text-centered">
                                    <video id="videoCaller" muted="true" autoplay><!-- local stream here --></video>
                                </div>
                            </div>
                            <!-- video callee -->
                            <div class="tile is-parent">
                                <div class="tile is-child notification is-warning has-text-centered">
                                    <video id="videoCallee" autoplay><!-- remote stream here --></video>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chatbox -->
                    <div class="tile is-parent is-3" ng-show="isOpenChat">
                        <div class="tile is-child notification is-success">
                            TODO: chatbox here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- foot -->
    <div class="hero-foot" style="margin-bottom: 1em;">
        <div class="container">
            <span class="icon is-medium pull-right">
                <i class="fa fa-comment-o" ng-click="chatButton()"></i>
            </span>
        </div>
    </div>
